.customers .client-list {
	display: flex;
	list-style-type: none;
}

.client-list__item:not(:last-child) {
	margin-right: 30px;
}

.client-list__link {
	width: 170px;
	height: 92px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid $icon-color;
	border-radius: 4px;
	color: $icon-color;

	transition: border-color $time-cubic-bezier;

	&:hover,
	&:focus {
		color: $accent-color;
		border-color: $accent-color;
	}
}

.client-list__icon {
	fill: currentColor;

	transition: color $time-cubic-bezier;
}