/* Variables */
	$primary-pages-color: #ffffff;
	$secondary-pages-color: #f5f4fa;
	$third-pages-color: #2f303a;
	$heads-color: #212121;
	$primary-texts-color: #757575;
	$secondary-texts-color: #ffffff;
	$accent-color: rgb(33, 150, 243);
	$icon-color: #afb1b8;
	$time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	$hover-btn-color: #188CE8;